<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container my-4">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:object="${cliente}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/form}" th:object="${cliente}" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">NOMBRE</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">APELLIDO</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">EMAIL</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">FECHA</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{createAt}" class="form-control" th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="submit" th:if="${cliente.id != null}" value="Actualizar" class="btn btn-primary">
                            <input type="submit" th:if="${cliente.id == null}" value="Crear" class="btn btn-primary">
                            <a class="btn btn-danger ml-3" th:href="@{/clientes}">Cancelar</a>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>